# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
/node_modules

# Build artifacts
/.next/
/out/

# TypeScript cache
*.tsbuildinfo

# Test results
/coverage

# Environment variables
.env
.env*.local

# Production environment variables
# This file SHOULD NOT be committed to your repository
# See https://nextjs.org/docs/basic-features/environment-variables
.env.production

# Turbopack
.turbo

# Patch-package
# You may want to commit this directory if you are patching packages
# patches/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System files
.DS_Store
Thumbs.db
